## Лабораторная работа №3

Становская Яна М8О-205М-19

### Описание данных

Name — название игры

Platform — платформа

Year_of_Release — год выпуска

Genre — жанр игры

NA_sales — продажи в Северной Америке (миллионы проданных копий)

EU_sales — продажи в Европе (миллионы проданных копий)

JP_sales — продажи в Японии (миллионы проданных копий)

Other_sales — продажи в других странах (миллионы проданных копий)

Critic_Score — оценка критиков (максимум 100)

User_Score — оценка пользователей (максимум 10)

Rating — рейтинг от организации ESRB (англ. Entertainment Software Rating Board). Эта ассоциация определяет рейтинг компьютерных игр и присваивает им подходящую возрастную категорию.

Данные за 2016 год могут быть неполными.

### Шаг 1. Откройте файл с данными и изучите общую информацию

In [26]:
import pandas as pd
import scipy.stats as sc_stats
import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [27]:
data_streamchik = pd.read_csv('data_stream.csv')

In [28]:
data_streamchik.head(15)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
11,Mario Kart DS,DS,2005.0,Racing,9.71,7.47,4.13,1.90,91.0,8.6,E
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,9.00,6.18,7.20,0.71,NaN,NaN,NaN
13,Wii Fit,Wii,2007.0,Sports,8.92,8.03,3.60,2.15,80.0,7.7,E
14,Kinect Adventures!,X360,2010.0,Misc,15.00,4.89,0.24,1.69,61.0,6.3,E

### Подготовка данных

Замените названия столбцов (приведите к нижнему регистру)

In [29]:
data_streamchik.columns = data_streamchik.columns.str.lower()

In [30]:
data_streamchik.head(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
11,Mario Kart DS,DS,2005.0,Racing,9.71,7.47,4.13,1.90,91.0,8.6,E
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,9.00,6.18,7.20,0.71,NaN,NaN,NaN
13,Wii Fit,Wii,2007.0,Sports,8.92,8.03,3.60,2.15,80.0,7.7,E
14,Kinect Adventures!,X360,2010.0,Misc,15.00,4.89,0.24,1.69,61.0,6.3,E

Преобразуйте данные в нужные типы. Опишите, в каких столбцах заменили тип данных и почему

Инфо о датасете

In [31]:
data_streamchik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
name               16713 non-null object
platform           16715 non-null object
year_of_release    16446 non-null float64
genre              16713 non-null object
na_sales           16715 non-null float64
eu_sales           16715 non-null float64
jp_sales           16715 non-null float64
other_sales        16715 non-null float64
critic_score       8137 non-null float64
user_score         10014 non-null object
rating             9949 non-null object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [32]:
data_streamchik.describe(include='all')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
count,16713,16715,16446.000000,16713,16715.000000,16715.000000,16715.000000,16715.000000,8137.000000,10014,9949
unique,11559,31,NaN,12,NaN,NaN,NaN,NaN,NaN,96,8
top,Need for Speed: Most Wanted,PS2,NaN,Action,NaN,NaN,NaN,NaN,NaN,tbd,E
freq,12,2161,NaN,3369,NaN,NaN,NaN,NaN,NaN,2424,3990
mean,NaN,NaN,2006.484616,NaN,0.263377,0.145060,0.077617,0.047342,68.967679,NaN,NaN
std,NaN,NaN,5.877050,NaN,0.813604,0.503339,0.308853,0.186731,13.938165,NaN,NaN
min,NaN,NaN,1980.000000,NaN,0.000000,0.000000,0.000000,0.000000,13.000000,NaN,NaN
25%,NaN,NaN,2003.000000,NaN,0.000000,0.000000,0.000000,0.000000,60.000000,NaN,NaN
50%,NaN,NaN,2007.000000,NaN,0.080000,0.020000,0.000000,0.010000,71.000000,NaN,NaN
75%,NaN,NaN,2010.000000,NaN,0.240000,0.110000,0.040000,0.030000,79.000000,NaN,NaN
max,NaN,NaN,2016.000000,NaN,41.360000,28.960000,10.220000,10.570000,98.000000,NaN,NaN

Узнать размер всего датасета

In [33]:
data_streamchik.shape

(16715, 11)

Изменять тип данных в столбцах:

Исходим из стремления экономии места

na_sales и прочие продажи - float32, описать приведения типов и почему => уменьшилась память (считать доли копеек не имеет смысла, поэтому берем float поменьше) 

платформа - тип категориальный, жанр тоже

In [34]:
def conver_to_new_type(columns, type_new, df):
    for column in columns:
        df[column] = df[column].astype(type_new)

        
list_columns_float32 = ['na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'critic_score']
list_columns_category = ['platform']

conver_to_new_type(list_columns_float32, 'float32', data_streamchik)
conver_to_new_type(list_columns_category , 'category', data_streamchik)

In [35]:
data_streamchik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
name               16713 non-null object
platform           16715 non-null category
year_of_release    16446 non-null float64
genre              16713 non-null object
na_sales           16715 non-null float32
eu_sales           16715 non-null float32
jp_sales           16715 non-null float32
other_sales        16715 non-null float32
critic_score       8137 non-null float32
user_score         10014 non-null object
rating             9949 non-null object
dtypes: category(1), float32(5), float64(1), object(4)
memory usage: 997.3+ KB

#### Обработка nan

Cтолбец name

Какие строки содержат nan

In [36]:
name_nan = data_streamchik[data_streamchik['name'].isna()]

In [37]:
for ind in name_nan.index:
    data_streamchik['name'][ind] = f'Untitled Name {ind}'
    print(data_streamchik['name'][ind])

Untitled Name 659
Untitled Name 14244

Cтолбец year_of_release

1. Обработка nan
2. Конвертация float->int

Cтолбец critic_score

В nan вставляем среднюю оценку для жанра

Cтолбец rating

В nan вставляем средний рейтинг для жанра

Ниже функция заполнения нулевых строк чем-то осозанным. Что-то осознанное - это параметры этой функции. Например в пустые строки с жанром вписываем часто встречающийся жанр

In [38]:
def fill_nan_by_ctgr(df, column, grouped_column, method, dictionary=False):
    gb = df.groupby(grouped_column).apply(method)[column]
    if dictionary == True:
        gb = {ind: gb[ind][0] for ind in gb.index.levels[0]}
    
    col_nan = df[df[column].isna()]
    
    for ind in tqdm(col_nan.index, desc=f'Fillna column: {column}'):
        df[column][ind] = gb[df[grouped_column][ind]]

In [39]:
data_streamchik.head(5)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.360001,28.959999,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.080000,3.580000,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.680000,12.760000,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.610000,10.930000,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.270000,8.890000,10.22,1.00,NaN,NaN,NaN

In [40]:
fill_nan_by_ctgr(data_streamchik, 'year_of_release', 'platform', pd.DataFrame.median)

data_streamchik['genre'] = data_streamchik['genre'].fillna(data_streamchik['genre'].mode()[0])

fill_nan_by_ctgr(data_streamchik, 'critic_score', 'genre', pd.DataFrame.mean)
fill_nan_by_ctgr(data_streamchik, 'rating', 'genre', pd.DataFrame.mode, dictionary=True)

Fillna column: year_of_release: 100%|██████████| 269/269 [00:10<00:00, 25.23it/s]
Fillna column: critic_score: 100%|██████████| 8578/8578 [04:59<00:00, 28.62it/s]
Fillna column: rating: 100%|██████████| 6766/6766 [04:23<00:00, 25.67it/s]

In [41]:
data_streamchik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
name               16715 non-null object
platform           16715 non-null category
year_of_release    16715 non-null float64
genre              16715 non-null object
na_sales           16715 non-null float32
eu_sales           16715 non-null float32
jp_sales           16715 non-null float32
other_sales        16715 non-null float32
critic_score       16715 non-null float32
user_score         10014 non-null object
rating             16715 non-null object
dtypes: category(1), float32(5), float64(1), object(4)
memory usage: 997.3+ KB

In [42]:
conver_to_new_type(['year_of_release'], 'int', data_streamchik)

Cтолбец genre

Вставим самый популярный (тк всего 2)

object -> category

In [43]:
conver_to_new_type(['genre'], 'category', data_streamchik)

Cтолбец user

In [44]:
def make_type_user_score(user_score):
    if user_score == 'tbd':
        return 1
    elif pd.isna(user_score):
        return 2
    else:
        return 3

In [45]:
data_streamchik['attr_user_score_type'] = data_streamchik['user_score'].apply(make_type_user_score)

In [46]:
data_streamchik['user_score'][data_streamchik['user_score'] == 'tbd'] = np.nan

In [47]:
fill_nan_by_ctgr(data_streamchik, 'user_score', 'genre', pd.DataFrame.mode, dictionary=True)

Fillna column: user_score: 100%|██████████| 9125/9125 [06:05<00:00, 24.93it/s]

In [48]:
# def fill_nan_user_raiting(df_row):
#     genre = df_row['genre']
#     user_score = df_row['user_score']
#     if pd.isna(user_score):
#         return user_score_gb[genre]
#     else:
#         return user_score

In [49]:
# data_streamchik['user_score'] = data_streamchik.apply(fill_nan_user_raiting, axis = 1)

Посчитайте суммарные продажи во всех регионах и запишите их в отдельный столбец.

In [50]:
regions = ['na', 'eu', 'jp', 'other']
regions_sales = [reg+'_sales' for reg in regions]
data_streamchik['all_sales'] = data_streamchik[regions_sales].sum(axis = 1)

In [51]:
data_streamchik.head(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,attr_user_score_type,all_sales
0,Wii Sports,Wii,2006,Sports,41.360001,28.959999,3.77,8.45,76.000000,8,E,3,82.539993
1,Super Mario Bros.,NES,1985,Platform,29.080000,3.580000,6.81,0.77,68.058350,8.6,E,2,40.240002
2,Mario Kart Wii,Wii,2008,Racing,15.680000,12.760000,3.79,3.29,82.000000,8.3,E,3,35.520000
3,Wii Sports Resort,Wii,2009,Sports,15.610000,10.930000,3.28,2.95,80.000000,8,E,3,32.770000
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.270000,8.890000,10.22,1.00,72.652649,8.2,T,2,31.380001
5,Tetris,GB,1989,Puzzle,23.200001,2.260000,4.22,0.58,67.424110,7.5,E,2,30.260000
6,New Super Mario Bros.,DS,2006,Platform,11.280000,9.140000,6.50,2.88,89.000000,8.5,E,3,29.799999
7,Wii Play,Wii,2006,Misc,13.960000,9.180000,2.93,2.84,58.000000,6.6,E,3,28.910000
8,New Super Mario Bros. Wii,Wii,2009,Platform,14.440000,6.940000,4.70,2.24,87.000000,8.4,E,3,28.319998
9,Duck Hunt,NES,1984,Shooter,26.930000,0.630000,0.28,0.47,70.181145,7.8,M,2,28.309999
10,Nintendogs,DS,2005,Simulation,9.050000,10.950000,1.93,2.74,68.619316,7.3,E,2,24.670000
11,Mario Kart DS,DS,2005,Racing,9.710000,7.470000,4.13,1.90,91.000000,8.6,E,3,23.210001
12,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,9.000000,6.180000,7.20,0.71,72.652649,8.2,T,2,23.090000
13,Wii Fit,Wii,2007,Sports,8.920000,8.030000,3.60,2.15,80.000000,7.7,E,3,22.700001
14,Kinect Adventures!,X360,2010,Misc,15.000000,4.890000,0.24,1.69,61.000000,6.3,E,3,21.820000

Выгружаю полученный датафрейм в новый файл, чтобы дальнейшие части лабораторной работы было удобнее выполнять.

Далее работа в файле LW3_pt2.ipynb

In [155]:
data_streamchik.to_csv('./data_stream_res.csv', index=False)

In [156]:
pd.read_csv('data_stream_res.csv').head(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,attr_user_score_type,all_sales
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76.000000,8.0,E,3,82.539990
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,68.058350,8.6,E,2,40.240000
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82.000000,8.3,E,3,35.520000
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80.000000,8.0,E,3,32.770000
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,72.652650,8.2,T,2,31.380001
5,Tetris,GB,1989,Puzzle,23.20,2.26,4.22,0.58,67.424110,7.5,E,2,30.260000
6,New Super Mario Bros.,DS,2006,Platform,11.28,9.14,6.50,2.88,89.000000,8.5,E,3,29.800000
7,Wii Play,Wii,2006,Misc,13.96,9.18,2.93,2.84,58.000000,6.6,E,3,28.910000
8,New Super Mario Bros. Wii,Wii,2009,Platform,14.44,6.94,4.70,2.24,87.000000,8.4,E,3,28.319998
9,Duck Hunt,NES,1984,Shooter,26.93,0.63,0.28,0.47,70.181145,7.8,M,2,28.310000